---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h1>Projects</h1>

<h2>Human-Centered AI and Interactive Machines Lab / Ingenuity Labs Research Center</h2>
<p><strong>Ongoing Research Projects</strong> | <em>2025-Present</em></p>

<ul>
<li>Implementing AI algorithms for pre-surgical decision-making for neurological diseases and in particular for epilepsy.</li>
<li>Analyzing the pipelines and monitoring systems in the hospital in order to develop programming code to make the processes more efficient.</li>
<li>Improving the algorithms designed to precisely detect hippocampal sclerosis measurements and MRI arterial spin labeling asymmetry detection (Kingston General Hospital Project).</li>
</ul>

<h2>Human-Centered AI and Interactive Machines Lab / Ingenuity Labs Research Center</h2>
<p><strong>Ongoing Research Projects</strong> | <em>2023-2025</em></p>

<ul>
<li>Developed AI and ML models for time-series forecasting and anomaly detection applications (Bank of Montreal Project).</li>
<li>Identified critical research gaps and created multi-domain data systems using self-supervised learning techniques.</li>
<li>Authored scientific manuscripts, protocols, and grant applications, collaborating with researchers to ensure clarity, accuracy, and impactful delivery.</li>
</ul>

<h2>Artificial Brain Research Lab</h2>
<p><strong>Research Assistant: Projects Overview</strong> | <em>2014 - 2023</em></p>

<ul>
<li>Applied self-supervised contrastive learning with label information for low-rank, sparse, and orthogonal data representations using Lagrangian multipliers.</li>
<li>Developed an ECG prediction model for arrhythmia detection (including atrial fibrillation and myocardial infarction) using a resampling technique with orthogonality constraints (Kyungpook Hospital project).</li>
<li>Built a document translation system for high-cursive ancient documents for the Korean National Library, integrating detection, recognition, and translation modules (Korean National Cultural Project).</li>
<li>Implemented a low-shot image recognition model for blurry, noisy environments, focusing on edge-based representations for intra- and inter-features distinction for images at long stand-offs (LG project).</li>
<li>Created a contactless, robust palm-print recognition model using a deep convolutional network (Human-Robot Interaction project).</li>
<li>Developed a regularized, low-shot attention transfer model with t-normalization for classifying and translating ancient documents.</li>
</ul>

<h2>Science and Technology Center, Shiraz University of Technology</h2>
<p><strong>Research Assistant: Projects Overview</strong> | <em>2010 - 2013</em></p>

<ul>
<li>Performed clustering on medical datasets, including breast cancer and ECG data, by integrating K-Means with evolutionary optimization algorithms such as the Imperialist Competitive Algorithm (ICA).</li>
<li>Implemented evolutionary algorithms (Imperialist Competitive Algorithm and Particle Swarm Optimization) in conjunction with conventional controllers.</li>
</ul>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

